name: medimate
description: A Week 2 UI prototype for MediMate (Teal theme) - semi-functional Flutter app.
publish_to: "none"
version: 0.0.1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  yaml: ^3.1.2

flutter:
  uses-material-design: true
  assets:
    - assets/medicine_data.json
    - assets/images/